<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/css/style.css"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Book details</title>
</head>
<body>
<div class="wrapper">
    <div class="box header">
        <ul>
            <li th:if="${book.getAuthor()!=null}" th:text="'Author: '+ ${book.getAuthor().getFirstName()} + ' '+ ${book.getAuthor().getLastName()}">author</li>
            <li th:text="'Title: '+${book.getTitle()}">title</li>
            <li th:if="${book.getShelf()!=null}" th:text="'Shelf: '+ ${book.getShelf().getDescription()}">shelf id</li>
            <li th:unless="${book.getShelf()!=null}" th:text="'Shelf: '">shelf id</li>
        </ul>
    </div>
    <div class="box sidebar">
        <a th:href="@{/books/bookList}" class="btn btn-primary btn-sm active" role="button"
           aria-pressed="true" >Book List</a>
    </div>
    <div class="box content">
        <div id="book_description">
            <p th:if="${book.getDescription()!=null}" th:utext="'Description: '+ '&lt;br /&gt;'  +${book.getDescription()}">description</p>
            <p th:unless="${book.getDescription()!=null}" th:text="'Description: '">description</p>
        </div>
        <div id="book_image">
            <img src="image_here" alt="image_description">
        </div>
    </div>
    <div class="box footer" th:text="'ISBN: '+${book.getIsbn()}">Footer</div>
</div>
</body>
</html>